  #filters {
    display: flex;
    flex-wrap: wrap;
  }

  .filter {
    text-align: center;
    margin-right: 3rem;
    margin-top: 1rem;
    opacity: 0.6;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }
  .filter p {
    font-size: 0.7rem;
  }

  .tax-info {
    display: none;
  }